* {
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Ubuntu", sans-serif;
}

header {
    padding: 20px;
    width: 100%;

}

header h1 {
    justify-content: center;
    text-align: center;
    text-align: center;
    font-size: 3rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
    margin: 0;

}


table,
th,
td {
   margin: 0;
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    height: 80px;
  


}

th {
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
    background-color: aliceblue;
    width: 30px;

}

td {
    padding: 30px;
    text-align: left;
    justify-content: left;
    vertical-align: top;
    font-size: 1.2rem;
  
   

}

td p {
    font-size: 0.9rem;
    text-align: start;
    justify-content: start;
    font-size: 400;
}

.ri-snowy-line {
    font-size: 25px;
    margin-left: 1px;
}

.ri-cake-2-line {
    font-size: 25px;
    margin-left: 1px;
}

.ri-heart-2-line {
    font-size: 25px;
    margin-left: 1px;
}

.ri-hearts-fill {
    font-size: 25px;
    margin-left: 1px;
}

.ri-bubble-chart-line {
    font-size: 25px;
    margin-left: 1px;
}

.ri-rainbow-line {
    font-size: 25px;
    margin-left: 1px;
}

.fa-candy-cane {
    font-size: 25px;
    margin-left: 1px;
}

.fa-bed {
    font-size: 25px;
    margin-left: 1px;
}

.fa-glass-cheers,
.fa-ghost,
.fa-graduation-cap,
.fa-fire-alt {

    font-size: 25px;
    margin-left: 2px;
}