* {
    box-sizing: border-box;
  
}
.ubuntu-medium {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
  }
  body {
    background-color: rgb(13, 13, 65);
    color: #fff;
  
    
}
  
  .header {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
margin-top: 80px;
display: flex;
justify-content: center; /* Centra orizzontalmente */
align-items: center; /* Centra verticalmente */
  }
  
  .header h1{
   justify-content: center;
   text-align: center;
   margin: 0;
   font-size: 2rem;
  }
  .header p{
  margin-top: 3px;
  text-align: center;
  }
  .containerheader{
    border: 3px solid rgb(163, 163, 228);
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    width: 60%; /* Imposta la larghezza del container */
    max-width: 600px; /* Limita la larghezza massima */
   
    padding: 20px; /* Spaziatura interna */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra opzionale */
  }
ul {
    margin: 0;
    padding: 0;
}
ul li {
    padding: 20px 10px 10px 20px;
    position: relative;
    transition: 0.3s;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#myUL {
   
    width: 400px; /* Imposta la larghezza desiderata */
    position: absolute; /* Posizione assoluta per il container */
    top: 40%; /* Posiziona a metà del viewport */
    left: 50%; /* Posiziona a metà del viewport */
    transform: translate(-50%, -50%); /* Centra il container */
    text-align: center; /* Centra il testo dentro il <li> */
 justify-content: center;
 height: 50px; /* Altezza fissa per centrare verticalmente */

 
}
#myUL li{
    border: 1.5px solid rgb(163, 163, 228);
    padding: 15px; /* Rimuove il padding predefinito */
    margin: 20px; /* Rimuove il margine predefinito */
    list-style: none;
    border-radius: 20px;
  
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%; /* Altezza fissa per centrare verticalmente */
}
#myInput{
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
   
}
#myInput:focus{
    border: none;
    outline: none;
}
button {
    padding: 4px 8px;
    border-radius: 5PX;
    outline: none;
    border: none;
    font-size: 0.9rem;

   
}
button:hover{
    cursor: pointer;
}
.containerheader button {
    background-color:rgb(163, 163, 228);
    color: #fff;
    font-weight: 300;
}
.ri-add-circle-line{
    font-size: 1rem;
    font-weight: 550;
}
